<section class="company-info-card">
  <h2>INFORMACIÓN DEL CONTACTO</h2>

  <section class="company-info-card-one">
    <article>
      <h3>Dirección</h3>
      <p>{{ companyInfoContact.direccion }}</p>
    </article>
    <article>
      <h3>Correo electronico</h3>
      <p>{{ companyInfoContact.correo }}</p>
    </article>
    <article>
      <h3>Sitio Web</h3>
      <p>{{ companyInfoContact.web }}</p>
    </article>
    <article>
      <h3>Red Social</h3>
      <p>{{ companyInfoContact.redSocial }}</p>
    </article>
  </section>

  <section class="company-info-card-one-two">
    <article>
      <h3>Dirección de correspondencia de correo</h3>
      <p>{{ companyInfoContact.adres }}</p>
    </article>
    <article>
      <h3>Numeros de telefonos</h3>
      <p>Fijo</p>
      <p>{{ companyInfoContact.tlfFijo }}</p>
      <p>Movil</p>
      <p>{{ companyInfoContact.tlfMovil }}</p>
    </article>
  </section>
</section>
