.mini-card-grid {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin: 18px auto;
  background-color: #fff;
  padding: 16px 8px;
  box-shadow: 0px 0px 16px 0px black;
  border-radius: 10px;
}
.mini-card {
  width: 100%;
  max-width: 220px;
  justify-self: center;
  height: auto;
  max-height: 180px;
  display: grid;
  grid-gap: 8px;
  justify-items: center;
  text-align: center;
}
.mini-card-title {
  margin: 4px;
  font-size: 2.8rem;
  color: #164e86;
}
.mini-card-description {
  margin: 8px;
  font-size: 1.8rem;
}
.mini-card-button {
  border: 1px solid #49df53;
  outline: none;
  background-color: transparent;
  color: #49df53;
  width: 150px;
  height: 40px;
  font-size: 1.8rem;
  border-radius: 5px;
  transition: all ease 0.8s;
}
.mini-card-button:hover {
  background-color: #49df53;
  color: white;
  cursor: pointer;
}
@media (min-width: 1250px) {
  .mini-card-grid {
    margin: 18px 0px 0px 0px;
  }
  .mini-card {
    justify-items: start;
    text-align: start;
  }
}
