<section class="progress-bar-card">
  <article class="progress-bar-card-control">
    <button
      class="progress-bar-card-control__button"
      [disabled]="btnDisabledPrevius"
      (click)="previus()"
    >
      <span class="fas fa-angle-left"></span>
    </button>
    <p class="progress-bar-card-control__info">
      <span>{{ countNumber }}</span> / {{ lastNumber }}
    </p>
    <button
      class="progress-bar-card-control__button"
      [disabled]="btnDisabledNext"
      (click)="next()"
    >
      <span class="fas fa-angle-right"></span>
    </button>
  </article>
  <progress
    class="progress"
    [max]="lastNumber"
    [value]="countNumber"
  ></progress>
</section>
