.home-card {
  width: 100%;
  height: auto;
  max-width: 500px;
  display: grid;
  position: relative;
}
.home-card-image {
  width: 100%;
  max-width: 520px;
  height: auto;
}
.home-card-title {
  width: 100%;
  max-width: 500px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.699);
  color: #059ef4;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(55% - 35px);
  border-radius: 5px;
}
h2 {
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  margin-left: -35px;
}
@media (min-width: 470px) {
  .home-card-title {
    font-size: 1.6rem;
    height: 80px;
  }
}
