.user-info-card {
  width: 100%;
  max-width: 380px;
  height: auto;
  padding: 16px 4px;
  display: grid;
  justify-content: center;
  grid-gap: 8px;
  background-color: white;
  text-align: center;
  margin: 12px auto;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 8px;
}
p,
a {
  font-size: 1.6rem;
}
