<section class="user-info-card">
  <h2>INFORMACIÓN DEL CONTACTO</h2>
  <article>
    <h3>Dirreción</h3>
    <p>{{ userInfo.direccion }}</p>
  </article>
  <article>
    <h3>Correo electrónico</h3>
    <p>{{ userInfo.correo }}</p>
  </article>
  <article>
    <h3>Sitio Web</h3>
    <a href="{{ userInfo.web }}">{{ userInfo.web }}</a>
  </article>
  <article>
    <h3>Red social</h3>
    <a href="{{ userInfo.redSocial }}"> {{ userInfo.redSocial }} </a>
  </article>
  <article>
    <h3>Dirreción de correspondencia de correo</h3>
    <p>{{ userInfo.adres }}</p>
  </article>
  <article>
    <h3>Numeros de telefonos fijos</h3>
    <p>{{ userInfo.tlfFijo }}</p>
  </article>
  <article>
    <h3>Celular</h3>
    <p>{{ userInfo.tlfMovil }}</p>
  </article>
</section>
