::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
.article-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  max-width: 900px;
  background-color: white;
  padding: 8px;
}
.articulo-grid-section {
  display: grid;
  padding: 8px;
  grid-gap: 10px;
}
.articulo-grid-section-slider {
  justify-self: center;
  align-items: center;
}
.articulo-grid-section-detail {
  display: flex;
  justify-self: center;
}
@media (min-width: 900px) {
  .article-grid {
    overflow-y: scroll;
    height: 320px;
    grid-column: 1 / 3;
    margin: auto;
  }
  .articulo-grid-section {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .empresas-grid-section-article {
    grid-column: 1 / 3;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .articulo-grid-section {
    grid-template-columns: 400px 1fr;
    grid-template-rows: 320px 400px;
  }
  .articulo-grid-slider {
    grid-column: 2;
    grid-row: 1;
  }
  .articulo-grid-section-article {
    grid-column: 2;
    grid-row: 2;
  }
  .articulo-grid-section-detail {
    grid-column: 1;
    grid-row: 1 / 3;
    padding-left: 18px;
  }
}
