<section class="articulo-grid-section">
  <article class="articulo-grid-section-detail">
    <app-info-detail-card></app-info-detail-card>
  </article>
  <section class="articulo-grid-section-slider">
    <app-slider></app-slider>
  </section>
  <section class="articulo-grid-section-article article-grid">
    <app-card-article
      *ngFor="let contenido of articulos"
      img="{{ contenido.imagen }}"
      title="{{ contenido.titulo }}"
      description="{{ contenido.descripcion }}"
    >
    </app-card-article>
  </section>
</section>
